*.Sem
*.Wrk
*.WPI.engineer.BAK???.acd
*.WPI.sander.blaakmeer.BAK???.acd
*.WPI_User.BAK???.acd
**Recovery
*.vpd.lock
*.BAK
Topping/Commefords_Topping_Generated.WPI.tom.reit.BAK061.acd
Topping/Commefords_Topping_Generated.WPI.tom.reit.BAK063.acd
*.acd
